#content {
    clear: both;
    width: 822px;
    overflow: hidden;
    margin: 25px auto 0 auto;
    padding-bottom: 205px;
}

.list-left, .list-right {
    float: left;
    overflow: hidden;
}


.list-left{
    width: 182px;
    margin-right: 9px;
}

.list-right{
    width: 631px;
}


.list-left .cate-item {
    border: 1px dashed #707070;
}

.cate-item .title-wd {
    width: 48px;
    height: 16px;
    font-size: 12px;
    font-family: PingFang SC;
    font-weight: 400;
    line-height: 16px;
    color: #014785;
    opacity: 1;
    float: left;
}

.cate-item .title-bar {
    width: 2px;
    height: 16px;
    background: #014785;
    opacity: 1;
    border-radius: 3px;
    margin-right: 6px;
    float: left;
}

.cate-item .cate-title {
    margin: 13px 13px 11px 13px;
    overflow: hidden;
}

.cate-item .cate-search {
    position: relative;
    margin: 13px 13px 11px 13px;
}

.cate-item .cate-type {
    margin: 13px 13px 20px 13px;
}

.cate-search .search-val {
    width: 144px;
    height: 21px;
    background: #FFFFFF;
    border: 1px solid #707070;
    opacity: 1;
    padding: 0 0 0 9px;
    font-size: 10px;
    color: #5F5F5F;
}

.cate-search .search-pic {
    width: 10px;
    height: 10px;
    opacity: 1;
    position: absolute;
    left: 140px;
    top: 8px;
    border: 0;
}

.cate-first .first-title {
    height: 15px;
    font-size: 11px;
    font-family: PingFang SC;
    font-weight: 400;
    line-height: 15px;
    color: #014785;
    opacity: 1;
    -webkit-transform: scale(0.98);
    display: inline-block;
}

.cate-first .cate-big {
    width: 10px;
    height: 10px;
    vertical-align: middle;
    border: 0;
}

.cate-first .down-big {
    width: 7px;
    height: 7px;
    vertical-align: middle;
    border: 0;
}

.cate-second .cate-small {
    width: 8px;
    height: 7px;
    vertical-align: middle;
    border: 0;
}

.cate-second .second-title {
    height: 12px;
    font-size: 9px;
    font-family: PingFang SC;
    font-weight: 400;
    line-height: 12px;
    color: #5F5F5F;
    opacity: 1;
    -webkit-transform: scale(0.9);
    display: inline-block;
}

.cate-second .down-small {
    width: 6px;
    height: 6px;
    vertical-align: middle;
    border: 0;
}

.cate-type .cate-level {
    margin: 8px 0;
}

.cate-type .cate-child {
    margin-left: 21px;
    display: none;
}

.cate-level .cate-third {
    display: none;
}

.cate-level .third-wd a {
    height: 11px;
    font-size: 8px;
    font-family: PingFang SC;
    font-weight: 300;
    line-height: 11px;
    color: #5F5F5F;
    opacity: 1;
    -webkit-transform: scale(0.8);
    margin-top: 6px;
    display: inline-block;
}


.list-right .list-title {
    height: 28px;
    background: #F8F8F8;
    opacity: 1;
}

.list-title .list-opt li:first-child {
    margin-left: 25px;
}

.list-title .list-opt li:nth-child(2) {
    margin-right: 61px;
}

.list-title .list-opt li{
    height: 28px;
    line-height: 28px;
    float: left;
    position: relative;
    margin-right: 50px;
}

.list-title .list-opt .opt-wd {
    height: 28px;
    font-size: 10px;
    font-family: PingFang SC;
    font-weight: 400;
    line-height: 28px;
    color: #5F5F5F;
    opacity: 1;
    display: block;
}

.list-title .list-opt .active {
    color: #014785;
}

.list-opt .sort-up {
    position: absolute;
    width: 7px;
    height: 7px;
    left: 90px;
    top: 7px;
}

.list-opt .sort-down {
    position: absolute;
    width: 7px;
    height: 7px;
    left: 90px;
    top: 14px;
}

.list-right .product-list {
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 23px;
}

.product-list .product-item {
    float: left;
    width: 190px;
    background: rgba(0, 0, 0, 0);
    opacity: 1;
    margin-right: 30px;
    margin-bottom: 30px;
}

.product-item .item-pic img {
    width: 190px;
    height: 190px;
    background: rgba(0, 0, 0, 0);
    opacity: 1;
    margin-bottom: 16px;
    border: 0;
}

.product-item:nth-child(3n) {
    margin-right: 0;
}

.product-item .item-title a{
    width: 190px;
    height: 15px;
    font-size: 11px;
    font-family: PingFang SC;
    font-weight: 300;
    line-height: 15px;
    color: #1B1B1B;
    letter-spacing: 1px;
    opacity: 1;
    display: block;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

.product-item .sell-price {
    height: 21px;
    font-size: 11px;
    font-family: DIN;
    font-weight: bold;
    line-height: 21px;
    color: #1B1B1B;
    letter-spacing: 1px;
    opacity: 1;
    margin-right: 6px;
    float: left;
}

.product-item .orig-price {
    height: 21px;
    font-size: 8px;
    font-family: DIN;
    font-weight: 400;
    line-height: 21px;
    color: #5F5F5F;
    letter-spacing: 1px;
    opacity: 1;
    text-decoration: line-through;
    float: left;
}

.product-item .stock{
    height: 21px;
    font-size: 8px;
    font-family: DIN;
    font-weight: 400;
    line-height: 21px;
    color: #5F5F5F;
    letter-spacing: 1px;
    opacity: 1;
    float: right;
}

.product-item .shop-cart img{
    width: 18px;
    height: 18px;
    vertical-align: middle;
    border: 0;
}

.list-right .list-page {
    text-align: right;
}

.list-page .prev-page,
.list-page .next-page,
.list-page .page-num {
    width: 65px;
    border: 1px solid #1B1B1B;
    height: 21px;
    font-size: 10px;
    font-family: PingFang SC;
    font-weight: 400;
    line-height: 21px;
    color: #1B1B1B;
    letter-spacing: 1px;
    opacity: 1;
    display: inline-block;
    margin-left: 6px;
    text-align: center;
}

.list-page .next-page {
    margin-left: 0;
}

.list-page .page-num {
    background: #014785;
    color: #FFFFFF;
}