<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div id="footer" th:fragment="footer">
    <div class="footer-hd">
        <a href="/connect_us"><span>联系我们</span></a>
        <a href="/about"><span>关于我们</span></a>
        <a href="/privacy_policy"><span>条款声明</span></a>
    </div>
    <div class="footer-bd">
        <span>Copyright © 2020. NxtFramework.com All Rights Reserved.</span>
    </div>
    <div class="footer-ft">
        <span>备案号 88888888</span>
    </div>
    <link rel="stylesheet" type="text/css" th:href="@{/pc/css/footer.css}">
</div>
</html>